@font-face {
    font-family: Vazir;
    src: url(/font/Vazir.woff2);
}

body {
    font-family: 'Vazir';
}

.dropdown-content {
    overflow: hidden;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 10px 0px 15px 0px;
}



.dropdown-content li:hover {
    /* background-color: #ddd; */
    /* float: right; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.navbar-content {
    padding-top: 20px;    

}
.navbar-content .a {
    font-size: 5px;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #767676;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.topnav {
    /* overflow: hidden; */
    background-color: #f5f5f5;
    font-family: "Vazir";
    position: absolute;
    top: 0%;
    width: 100%;
    /* height: 20%; */
}

.topnav li {
    float: right;
    list-style: none;
}

.topnav a {
    /* float: right; */
    color: #767676;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .register {
    margin-right: 200px;
    color: red;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.main {
    font-family: "Vazir";
}

.show-icon {
    display: inline-block;
    padding: 40px 50px 75px 100px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-box {
    /* padding-top: 10%; */
    color: #73a1ca;
}

.text-icon {
    font-size: 20px;
}

.panel-footer {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.project {
    font-family: "Vazir";
    color: #767676;
}

.project-title {
    background-color: #f5f5f5;
    margin-top: 7%;
    /* width: 100%; */
}

.project-title .name,
.project-title .create,
.project-title {
    padding-top: 25px;
    width: 100%;
}

.project-title .send-suggest {
    padding-top: 25px;
    text-align: left;
    padding-left: 5%;
}

.show-price {
    list-style-type: none;
    font-size: 20px;
}

.show-price li {
    margin: 15px;
}

.ability {
    border-color: #004C70;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
}

a:link {
    color: #767676;
    text-decoration: none !important;
}

.show-data {
    text-align: center;
}

.apply-project {
    font-family: "Vazir";
    margin-top: 10%;
    /* float: right; */
}

.apply-project .description-description {
    /* float: right; */
    background-color: #dcdcdc;
    text-align: right;
    padding: 10px;
}

::-webkit-input-placeholder {
    text-align: right;
}

/* mozilla solution */
input:-moz-placeholder {
    text-align: right;
}

.numberCircle {
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    border: 2px solid #006495;
    background-color: #006495;
    color: white;
    display: inline-block;
}

.make-project {
    padding-top: 12%;
    font-family: "Vazir";
    padding-right: 6%;
}

.text-after-number {
    margin-right: 4%;
    font-size: 18px;
}

.make-project .file-upload {
    border-style: dotted;
    margin-top: 10px;
    border-width: 2px;
    padding: 20px;
}

.tags-input {
    width: 50%;
}

.project-box {
    display: block;
    /*margin-right: 10%;*/
    text-align: center;
}

.box {
    border: solid;
    margin: 5px;
}

.project-box .box-price {
    position: relative;
    top: 0px;
    background-color: gray;
    font-size: 20px;
    /*margin-right: 10%;*/
}

.project-box .box-description {
    text-align: right;
}

.project-box .tags {
    border: solid;
    border-color: #004C70;
}

.show-pagination {
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.image-gallery {
    margin: 0 auto;
    margin-top: 3%;
    display: table;
}

.primary,
.thumbnails {
    display: table-cell;
}

.thumbnails {
    width: 150px;
    padding-left: 20px;
    /* margin-left: 5%; */
}

.primary {
    width: 600px;
    height: 400px;
    background-color: #cccccc;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.thumbnail:hover .thumbnail-image,
.selected .thumbnail-image {
    border: 4px solid #cccccc;
}

.thumbnail-image {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 4px solid transparent;
}

.gray-header {
    background-color: #f5f5f5;
    margin-top: 8%;
    /* width: 100%; */
}

.gray-header .name {
    padding: 20px;
    width: 100%;
}

.home-header {
    color: #669900;
    font-size: 10px;
}

.header-gif-2 {
    display: none;
}

.header-gif-3 {
    display: none;
}

.detail-box {
    /* padding: 10px 30px 10px 30px; */
    margin-top: 20px;
    border-style: solid;
    border-color: #8abc00;
    border-width: 10px;
    font-family: 'Vazir';
    text-align: center;
    font-size: 20px;
    color: #767676;
}

.detail-box .number {
    /* border-left: thick solid #ff0000; 
     height: 110%; */
    margin-left: 20px;
}

.vertical-line {
    top: -10px;
    border-left: 1px solid gray;
    height: 100%;
    position: absolute;
    /* left: 50%; */
    top: 0;
}

.detail-box .do-by {
    background-color: #8abc00;
    color: white;
    margin: 10px;
}

.footer-distributed {
    text-align: center;
    background-color: #444444;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px;
    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
    width: 40%;
}

/* The company logo */
.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

/* Footer links */
.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

/* Footer Right */
.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    text-align: right;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .contact-us-mail:link {
    color: white;
    text-decoration: none !important;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
    text-align: right;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
.register-form{
    margin-top: 10%;
}
.register-form .submit{
    text-align:center;
    color:white;
}


.user-panel ul{
    list-style-type: none;
    text-align: right;

}
.user-panel  {
    margin: 0;
    padding: 0;
    background-color: #363636;
    position: fixed;
    height: 100%;
    overflow: auto;
    width:20%;
    float: right;top: 0px; right: 0px;
}

.user-panel li a {
    display: inline-block;
    color: #75828d;
    padding: 8px 16px; 
    font-size: 14px;   
    width:100%;

}

.user-panel a:link{
    text-decoration: none!important;
  }
  .user-panel li a:hover {
    /* background-color: #222121; */
    color: white;
}
.user-panel .fas{
    color: #75828d;
    margin-left: 20px;
}
.user-panel .dropdown-btn {
    padding: 8px 16px; 
    background: none;
    font-size: 14px;
    color: #75828d;
    border: none;
    width:100%;
    text-align: right;
    cursor: pointer;
    outline: none;
  }
  .user-panel  .dropdown-container {
    display: none;
    background-color: #222121;
    padding: 8px 36px; 
  }

.user-panel .profile-image{
    padding: 15px 36px 4px 10px; 

}
.user-panel .profile-description{
text-align: right;
padding-top: 30px ;
padding-left: 20px ;    color: #75828d;

}
.user-type{
    margin-top: 10%;
}

.user-type .member{
    padding-top: 50px;
    padding-bottom: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.user-type .price{
    margin-bottom: 50px;
    font-weight: bolder;
    font-size: 17px;
}
.user-type .upgrade-btn{
    position: absolute;
    bottom: 0px;
    left: 30%;
    
}
.user-type .gold{
    background-color: #f2c475;
    text-align: center;
    padding:20px;
    height: 70%;;
    color:#945b3e;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: -120px;
    
}
.user-type .silver{
    background-color: #ebebeb;
    text-align: center;
    padding:20px;
    height: 70%;;
    color:#7d8bb4;
    border-radius: 10px;
    margin-right: 30px;
}
.user-type .bronze{
    background-color: #f5a181;
    text-align: center;
    padding:20px;
    height: 70%;;
    color:#9d6c65;
    border-radius: 10px;
    margin-right: 30px;
}

.user-type .normal{
    background-color: #8aba31;
    text-align: center;
    padding:20px;
    height: 70%;;
    color:#c8ebe5;
    border-radius: 10px;
    margin-right: 30px;
}
